.searchBar{
    display:table;
    background-color: rgb(240, 239, 239);
    height: 60px;
    width: 700px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
}
.searchBar2{
    display:table;
    background-color: rgb(240, 239, 239);
    height: 60px;
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
}
.searchBarItem{
    display: table-cell;
    text-align: center;
    vertical-align: center;
    padding-top: 15px;
}
.searchBarItem select{
    width: 100px;
    height: 30px;   
}
.searchBarItem input{
    width: 200px;
    height: 22px;
    border-radius: 5px 5px 5px 5px;   
}
.searchBarItem button{
    width: 60px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;   
    font-size:15px;
}

table {
  width: 1000px;
  max-height: 380px;
  border-collapse: collapse;
  margin: 10px auto;
  table-layout: fixed;
}

table th {
  font-size: 18px;
}

table th:first-of-type {
  border-right: 1px solid #505050;
  width: 200px;
}

table th:last-of-type {
  border-left: 1px solid #505050;
  width: 350px;
}

table tr {
  text-align: center;
  border-bottom: 1px solid #505050;
}

table tr:first-of-type {
  border-top: 2px solid #404040;
}

table tr td {
  padding: 5px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table tr td:first-of-type {
  border-right: 1px solid #505050;
}

table tr td:last-of-type {
  border-left: 1px solid #505050;
}

.btn-cover {
  margin-top: 1.5rem;
  text-align: center;
}

.btn-cover .page-btn {
  width: 5rem;
  height: 2rem;
  letter-spacing: 0.5px;
}

.btn-cover .page-count {
  padding: 0 1rem;
}
