body {
  background-color: #F1F1F5;
}

.container {
    margin: 90px auto;
    width: 700px;
    height: 500px;
  }
  
.left {
    height: 100%;
    background-color: #C8DEC5;
    overflow-x: hidden;
    padding-top: 50px;
    float: left;
    width: 350px;
    border-radius: 25px 0px 0px 25px;
  }
  
.logo-wrapper {
    text-align: center;
    width: 350px;
  }

.logo {
    width: 300px;
    margin-top: 80px;
  }
  
.right {
    height: 100%;
    overflow-x: hidden;
    padding-top: 50px;
    float: center;
    width: 350px;
    background-color: white;
    border-radius: 0px 25px 25px 0px;
  }
  
.login-form {
    margin: 100px 75px;
  }
  
.form-group {
    margin-bottom: 10px;
  }

.form-group input {
    display: block;
    width: 200px;
    background-color: #F2F2F2;
    border: 0;
    outline: none;
    line-height: 30px;
    font-size: 14px;
    padding-left: 5px;
}

label {
    font-weight: bold;
    color: gray;
  }
  
.btn-green{
    background-color: #7CAE88;
    color: #ffffff;
    font-weight: bold;
    width: 70px;
    height: 30px;
    border: none;
  }
  
a {
    padding: 10px;
    color: #000000;
  }