@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.menuBack{
    width: 100%;
    height: 90px;
    background-color: rgb(226, 238, 197);
}
.logoImg{
    width: 240px;
    height: 90px;
}
.buttonBar{
    position: absolute;
    top: 34px;
    left: 260px;
    width: 800px;
    height: 60px;
}
.menuButton{
    padding-right: 20px;
    font-weight: 200;
    font-size: 23px;
    text-align: center;
    border-style: none;
    background-color: rgba(0,0,0,0);
    font-family:"Nanum Gothic"
}
.menuImg{
    width: 35px;
    height: 35px;
}
.login{
    clear:both;
    position: absolute;
    width: 200;
    height: 30px;
    float: right;
    top: 20px;
    right: 20px;
    overflow: hidden;
}
footer {
    position: fixed;
    margin-left: 1px;
    margin-right: 3px; 
    bottom: 0;
    width: 99%;
    height: 60px;
    text-align: center;
    font-size: 13px;
	color: rgb(116, 116, 116);
    background: rgb(230, 230, 230);
    font-family:"Nanum Gothic";
}
.whereami{
    padding: 10px;
    padding-right: 20px;
    float: right;
}
.contentPage{
    top: 90px;
    bottom: 60px;
}
.contentPage1{
    margin-left: 250px;
    margin-top: 5px;
    bottom: 60px;
}