.logo {
    border: 1.5px solid  #6CAC9D;
    border-radius: 10px 10px 10px 10px;
    color: #8DB89B;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    background-color: white;
    width: 125px;
}

.sideBar ul li { 
    font-size: 20px;
    padding-top: 30px;
 }

.item {
    border: none;
    border: 1px solid #6CAC9D;
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
}

.item:hover {
    background-color: rgba(246, 255, 204,0.5);
}

.location {
    margin-bottom: 10px;
}

.locImg {
    width: 12px;
    height: 25px;
}
