@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.menuBack{
    width: 100%;
    height: 90px;
    background-color: rgb(226, 238, 197);
}
.logoImg{
    width: 240px;
    height: 90px;
}
.buttonBar{
    position: absolute;
    top: 34px;
    left: 260px;
    width: 800px;
    height: 60px;
}
.menuButton{
    padding-right: 20px;
    font-weight: 200;
    font-size: 23px;
    text-align: center;
    border-style: none;
    background-color: rgba(0,0,0,0);
    font-family:"Nanum Gothic"
}
.menuImg{
    width: 35px;
    height: 35px;
}
.login{
    clear:both;
    position: absolute;
    width: 200;
    height: 30px;
    float: right;
    top: 20px;
    right: 20px;
    overflow: hidden;
}
.footerCss {
    position: fixed;
    margin-left: 1px;
    margin-right: 3px; 
    bottom: 0;
    width: 99%;
    height: 60px;
    text-align: center;
    font-size: 13px;
	color: rgb(116, 116, 116);
    background: rgb(230, 230, 230);
    font-family:"Nanum Gothic";
}
.whereami{
    padding: 10px;
    padding-right: 20px;
    float: right;
}
.contentPage{
    top: 90px;
    bottom: 60px;
}
.contentPage1{
    margin-left: 250px;
    margin-top: 5px;
    bottom: 60px;
}
.colortable{
    position: absolute;
    left: 260px;
    bottom: 70px;
    width: 200px;
    font-family:"Nanum Gothic";
    border: 0px solid;
}
.colortr{
    background: linear-gradient(to left, rgb(230, 239, 221),rgb(239, 135, 194));
}

.plusbutton{
    position: absolute;
    right: 10px;
    bottom: 70px;
}
.plusbtn{
    background-color: rgb(242, 250, 225);
    border-radius: 30px;
    color: rgb(163, 180, 161);
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid rgb(189, 189, 189);
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

.modal-container {
    width: 500px;
    height: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.model-header{
    margin-top: 0px;
    color: #42b983;
}

.model-table{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 2px solid rgb(63, 153, 101);
    margin : 20px 10px;
}

.modal-table th{
    width: 70px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: rgb(63, 153, 101);
    border-right: 1px solid #ccc;
    border-left: 2px solid rgb(116, 116, 116);
}

.model-table td{
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.model-save{
    float: right;
}

.model-save button{
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffff;
    color: rgb(129, 168, 146);
}

.modal-table select {
    padding: 8px;
    width: 130px;
}

.modal-table input {
    display: block;
    width: 380px;
    background-color: #F2F2F2;
    border: 0;
    outline: none;
    line-height: 30px;
    font-size: 14px;
    padding-left: 5px;
}

.modal-table input[type=file],[type=date]{
    width: 200px;
}

a {
    color: black;
}

a:hover {
    color: rgba(246, 255, 204,0.5);
}

button {
    outline: 0;
}

.sideBar {
    position: absolute;
    top: 98px;  
    bottom: 60px;
    width: 240px; 
    height: 79vh; 
    background: #E2EEEB;
    margin: 0 auto;
    overflow: auto;
  }

.sideBar::-webkit-scrollbar {
    width: 10px;
}

.sideBar::-webkit-scrollbar-thumb {
    background-color: #6CAC9D;
}

.sideBar::-webkit-scrollbar-track {
    background-color: #F2F2F2;
}

  .sideBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
 }