.btn {
    width: 800px;
    height: 300px;
}

.btn li {
    list-style: none;
}

.btn button {
    border: 0px solid rgb(189, 189, 189);
    height: 50px;
    width: 140px;
    float: left;
    border-radius: 10px 10px 10px 10px;
    font-size : 18px;
    margin : 10px;
}

.a {
    background-color: rgb(230, 239, 221);
}

.b {
    background-color: rgb(235, 238, 218);
}

.c {
    background-color: rgb(239, 229, 217);
}

.d {
    background-color: rgb(242, 221, 216);
}

.e {
    background-color: rgb(242, 214, 214);
}

.f {
    background-color: rgb(244, 199, 210);
}

.g {
    background-color: rgb(243, 189, 207);
}

.h {
    background-color: rgb(243, 172, 204);
}

.i {
    background-color: rgb(241, 157, 199);
}

.j {
    background-color: rgb(239, 135, 194);
}