.landmarkContent{
    margin-left: 240px;
    margin-right: 40px;
    height: 100vh;
}

.landmarkcontentPage{
    top: 90px;
    bottom: 60px;
}

.btnArea{
    display: inline;
    margin-left: 50px;
}

.btnArea button{
    border: 1.25px solid #c1dfc4;
    font-weight: bold;
    padding: 5px;
    outline: none;
}

.btn1 {
    margin-top: 10px;
    margin-right: -4px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn2 {
    margin-top: 10px;
    margin-left: -3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.click {
    color: white;
    background-color: #c1dfc4;
}

.non {
    color: #c1dfc4;
    background-color: white;
}

.adminContent {
    margin-top: 1px;
    margin-left: 50px;
    height: 490px;
    background-color: #deecdd;
    padding: 10px;
}