.landmarkContent {
  width: 1300px;
  height: 100vh;
}

.landmarkcontentPage {
  top: 90px;
  bottom: 60px;
}

.btnArea {
  display: inline;
  margin-left: 50px;
}

.btnArea button {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  width: 180px;
  margin-top: 20px;
}

.btnArea button:hover {
  color: white;
  background-color: #c1dfc4;
  border: 1.5px solid #97af99;
  border-bottom: none;
}

.btn1 {
  margin-right: -4px;
  border-top-left-radius: 10px;
  border: 5px solid #97af99;
}
.btn2 {
  border-top-right-radius: 10px;
}

.click {
  color: white;
  background-color: #c1dfc4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1.5px solid #97af99;
  border-bottom: none;
}

.non {
  color: #c1dfc4;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1.25px solid #c1dfc4;
  border-bottom: none;
}

.adminContent {
  margin-top: 1px;
  margin-left: 50px;
  height: 490px;
  background-color: #deecdd;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1.5px solid #97af99;
}

.tb {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}

.tb thead {
  width: 500px;
  float: left;
}

th {
  background-color: cadetblue;
  color: white;
}

.tb tbody {
  overflow-y: auto;
  overflow-x: hidden;
  float: left;
  height: 300px;
  font-size: 11pt;
}

.tb tbody tr {
  display: table;
  width: 500px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td {
  border-bottom: 1px solid #444444;
}

th,
td {
  padding: 10px;
}

.tb th:nth-of-type(1) {
  border-right: 1px solid white;
  width: 200px;
}

td:nth-of-type(1) {
  border-right: 1px solid #444444;
  width: 200px;
}

.tb th:last-child,
.tb td:last-child {
  width: 300px;
}

.detailBtn {
  background-color: white;
  border: none;
}

.detailBtn:hover {
  color: cadetblue;
}

.detail {
  display: inline-block;
  margin-top: 20px;
  width: 580px;
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
}

hr {
  width: 300px;
  float: left;
}

.delBtn {
  margin: 5px;
  float: right;
  border-radius: 10px;
  width: 50px;
  height: 25px;
  font-size: 12px;
  border: none;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
}

.delBtn:hover {
  background-color: beige;
  color: cadetblue;
}
