.landmarkContent {
  margin-left: 240px;
  margin-right: 40px;
  height: 100vh;
}

.landmarkcontentPage {
  top: 90px;
  bottom: 60px;
}

.btnArea {
  display: inline;
  margin-left: 50px;
}

.btnArea button {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  width: 180px;
  margin-top: 20px;
}

.btnArea button:hover {
  color: white;
  background-color: #c1dfc4;
  border: 1.5px solid #97af99;
  border-bottom: none;
}

.btn1 {
  margin-right: -4px;
  border-top-left-radius: 10px;
  border: 5px solid #97af99;
}
.btn2 {
  border-top-right-radius: 10px;
}

.click {
  color: white;
  background-color: #c1dfc4;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1.5px solid #97af99;
  border-bottom: none;
}

.non {
  color: #c1dfc4;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1.25px solid #c1dfc4;
  border-bottom: none;
}

.adminContent {
  margin-top: 1px;
  margin-left: 50px;
  height: 490px;
  background-color: #deecdd;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1.5px solid #97af99;
}

.tb {
  margin: 20px;
}

table {
  text-align: center;
  width: 500px;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}

td {
  width: 500px;
  border-bottom: 1px solid #444444;
  padding: 10px;
}

td:nth-child(1) {
  width: 200px;
  border-right: 1px solid #444444;
}
