.btn {
    width: 800px;
    height: 1000px;
}

.btn li {
    list-style: none;
}

.btn button {
    border: 1px solid rgb(189, 189, 189);
    height: 50px;
    width: 140px;
    float: left;
    border-radius: 10px 10px 10px 10px;
    font-size : 18px;
    margin : 10px;
}

.odd {

}

.even {
    
}

.one {
    background-color: rgb(230, 239, 221);
}

.two {
    background-color: rgb(235, 238, 218);
}

.three {
    background-color: rgb(239, 229, 217);
}

.four {
    background-color: rgb(242, 221, 216);
}

.five {
    background-color: rgb(242, 214, 214);
}

.six {
    background-color: rgb(244, 199, 210);
}

.seven {
    background-color: rgb(243, 189, 207);
}

.eight {
    background-color: rgb(243, 172, 204);
}

.nine {
    background-color: rgb(241, 157, 199);
}

.ten {
    background-color: rgb(239, 135, 194);
}