.btn li {
    list-style: none;
}

.btn button {
    border: none;
    height: 30px;
    width: 120px;
    border-radius: 10px 10px 10px 10px;
    font-weight: bold;
}

.odd {

}

.even {
    
}

.one {
    background-color: #C9FFBF;
}

.two {
    background-color: #D1F4BE;
}

.three {
    background-color: #D8ECBF;
}

.four {
    background-color: #DDE3BE;
}

.five {
    background-color: #E5DBBF;
}

.six {
    background-color: #E8D4BE;
}

.seven {
    background-color: #EFCBBE;
}

.eight {
    background-color: #F5C0BE;
}

.nine {
    background-color: #FBB6BD;
}

.ten {
    background-color: #FFAFBD;
}