.travel {
    padding-top: 50px;
}

.travel li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

.travel button {
    background: none;
    border: 3px solid rgb(226, 238, 197);
    border-radius: 5px;
    color: black;
    font-size: 15pt;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.tripImg {
    width: 300px;
    height: 300px;
}

.sideBar ul li { 
    font-size: 20px;
    padding-top: 30px;
 }

.item {
    border: 1.5px solid  #6CAC9D;
    background-color: white;
    color: black;
    width: 200px;
    height: 100px;
    padding: 0px;
    border-radius: 10px 10px 10px 10px;
}

.item:hover {
    background-color: rgba(246, 255, 204,0.5);
}

.date {
    text-align: left;
    vertical-align: top;
} 

.name {
    font-size: 20px;
}