.travel {
    padding-top: 50px;
}

.travel li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

.tripImg {
    width: 350px;
    height: 350px;
}

.sideBar ul li { 
    font-size: 20px;
    padding-top: 30px;
 }

.item {
    border: 1.5px solid  #6CAC9D;
    background-color: white;
    color: #6CAC9D;
    font-weight: bold;
    width: 200px;
    height: 80px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}

.clicked {
    background-color: #6CAC9D;
    color: white;
}

.item:hover {
    background-color: #6CAC9D;
    color: white;
}

.date {
    text-align: left;
    vertical-align: top;
} 

.name {
    font-size: 20px;
    overflow: hidden;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.time {
    color: gray;
}

.line {
    border: none;
    height: 0.8px;
    background-color: rgb(192, 192, 192);
    margin-top: 20px;
    margin-bottom: 20px;
}
