.searchBar2{
    display:table;
    background-color: rgb(240, 239, 239);
    height: 60px;
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
}
.searchBarItem{
    display: table-cell;
    text-align: center;
    vertical-align: center;
    padding-top: 15px;
}
.searchBarItem select{
    width: 100px;
    height: 30px;   
}
.searchBarItem input{
    width: 200px;
    height: 22px;
    border-radius: 5px 5px 5px 5px;   
}
.searchBarItem button{
    width: 60px;
    height: 30px;
    border-radius: 5px 5px 5px 5px;   
    font-size:15px;
}

.createbutton{
    position: absolute;
    right: 20px;
}
.createbtn{
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    color: rgb(71, 71, 71);
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: 1px solid rgb(189, 189, 189);
}
.modal-mask-qna {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

.modal-container-qna {
    width: 500px;
    height: 450px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-wrapper-qna {
    display: table-cell;
    vertical-align: middle;
}

.model-header-qna{
    margin-top: 0px;
    color: #616865;
}

.model-table-qna{
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 2px solid rgb(63, 153, 101);
    margin : 20px 10px;
}

.modal-table-qna th{
    width: 60px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: rgb(63, 153, 101);
    border-right: 1px solid #ccc;
    border-left: 2px solid rgb(116, 116, 116);
}

.model-table-qna td{
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.model-save-qna{
    padding-top: 40px;
    float: right;
}

.model-save-qna button{
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffff;
    color: rgb(129, 168, 146);
}

.qna-textarea{
    width: 400px;
    height: 200px;
    background-color: #F2F2F2;
    border: 0;
    outline: none;
    font-size: 14px;
}
.modal-table-qna input {
    display: block;
    width: 397px;
    background-color: #F2F2F2;
    border: 0;
    outline: none;
    line-height: 30px;
    font-size: 14px;
    padding-left: 5px;
}

.modal-table-qna select {
    padding: 8px;
    width: 130px;
}

.notice table {
  width: 1000px;
  max-height: 380px;
  border-collapse: collapse;
  margin: 10px auto;
}

.notice table th {
  font-size: 18px;
}

.notice table th:first-of-type {
  border-right: 1px solid #505050;
  width: 200px;
}

.notice table th:last-of-type {
  border-left: 1px solid #505050;
  width: 200px;
}

.notice table tr {
  text-align: center;
  border-bottom: 1px solid #505050;
}

.notice table tr:first-of-type {
  border-top: 2px solid #404040;
}

.notice table tr:first-of-type {
  border-top: 2px solid #404040;
}

.notice table tr td {
  padding: 5px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice table tr td:first-of-type {
  border-right: 1px solid #505050;
}

.notice table tr td:last-of-type {
  border-left: 1px solid #505050;
}

.btn-cover {
  margin-top: 1.5rem;
  text-align: center;
}

.btn-cover .page-btn {
  width: 5rem;
  height: 2rem;
  letter-spacing: 0.5px;
}

.btn-cover .page-count {
  padding: 0 1rem;
}