body {
  background-color: #F1F1F5;
}

label {
    color: gray;
  }

.container {
    margin: 0 auto;
    width: 800px;
    height: 90vh;
    overflow: hidden;
    background-color: white;
  }
  
.logo-wrapper {
    text-align: center;
    width: 800px;
  }

.logo {
    width: 300px;
  }
  
.register-form {
    height: 90vh;
    width: 900px;
  }
  
.default {
    height: 100%;
    overflow-x: hidden;
    float: center;
    margin: 0 auto;
    width: 500px;
  }

  .form-group input {
    display: block;
    width: 400px;
    background-color: #F2F2F2;
    border: 0;
    outline: none;
    line-height: 40px;
    font-size: 14px;
    padding-left: 5px;
    margin: 0 0 15px;
}

.level2 {
  margin-bottom: 10px;
}
  
input[type=checkbox]:checked + .level2-form {
    width: 900px;
    height: 40vh;
  
    -ms-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
  
.level2-form {
    overflow: hidden;
    height: 0px;
    margin: auto;
  }
  
.level2-left {
    float: left;
    margin-left: 100px;
  }
  
.level2-right {
    float: right;
    margin-right: 100px;
  }
  
.notice {
   float: right;
   width: 265px;
   height: 55px;
   margin-top: 2vh;
   resize: none;
   text-align: center;
   font-weight: bold;
  }
  
.btn-green{
    background-color: #7CAE88;
    color: #ffffff;
    float: center;
    font-weight: bold;
    width: 80px;
    height: 30px;
    border: none;
  }