<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark</title>
    <link rel="stylesheet" type="text/css" href="/css/loginPage.css">
</head>
<body>
    <div id="container" class="container">
        <div class="left">
            <div class="logo-wrapper">
                <img class="logo" src="/img/logo.png">
            </div>
        </div>
        <div class="right">
            <div class="login-form">
                <form v-on:submit.prevent="submitForm">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" id="username" v-model="username">
                    </div>
                    <div class="form-group">
                        <label>PW</label>
                        <input type="password" class="form-control" id="password" v-model="password">
                    </div>
                    <button type="submit" class="btn btn-green" v-on:click="submitForm(username, password, $event)">Log in</button>
                    <a href="./registerPage.html">Sign in</a>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#container',
            data: function () {
                return {
                    username: '',
                    password: '',
                    userInfo: {}
                }
            },
            methods: {
                submitForm: function(id, pw, event) {
                    if(event){
                        axios.post('http://49.50.161.45:8080/login', {
                            username: id,
                            password: pw
                        }).then(res => {
                            userInfo = res.headers['auth-token'];
                            //console.log(userInfo);
                            if(userInfo != null){
                                window.localStorage.setItem('token', userInfo);
                                //console.log(window.localStorage.getItem('token'));
                                location.href = './../main.html';
                            }else{
                                alert('계정정보 조회에 실패했습니다.');
                            }
                        }).catch(ex => {
                            console.log(ex);
                            alert('유효하지 않은 아이디와 비밀번호 입니다.');
                        });
                    }
                }
            }
        });
    </script>
</body>
</html>