<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark</title>
    <link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
</head>
<body>
    <div id="container" class="container">
        <div class="left">
            <div class="logo-wrapper">
                <img class="logo" src="/img/logo.png">
            </div>
        </div>
        <div class="right">
            <div class="login-form">
                <form v-on:submit.prevent="submitForm">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>PW</label>
                        <input type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-green" onclick="location.href='/view/main.html'">Log in</button>
                    <a href="./registerPage.html">Sign in</a>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#container',
            data: function () {
                return {
                    form: {
                        username: '',
                        password: ''
                    },
                    errorMessage: ''
                }
            },
            methods: {
                submitForm () {
                    this.$v.$touch()
                    if (this.$v.$invalid) {
                        return
                    }
                    authenticationService.authenticate(this.form).then(() => {
                        this.$router.push({name: 'menu'})
                        this.$bus.$emit('authenticated')
                        notify.closeAll()
                    }).catch((error) => {
                        this.errorMessage = error.message
                    })
                }
            }
        });
    </script>
</body>
</html>