<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark</title>
    <link rel="stylesheet" type="text/css" href="/css/registerPage.css">
</head>

<body>
    <div id="_container" class="container">
        <div class="logo-wrapper">
            <img class="logo" src="/img/logo2.png">
        </div>
        <div class="register-form">
            <form @submit.prevent="submitForm">
                <div class="default">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" id="username" v-model="username">
                    </div>
                    <div class="form-group">
                        <label>PW</label>
                        <input type="password" class="form-control" id="password" v-model="password">
                    </div>
                    <div class="form-group">
                        <label>PW 확인</label>
                        <input type="password" class="form-control" id="password-confirm" v-model="passwordconfirm">
                    </div>
                    <div class="form-group">
                        <label>이름</label>
                        <input type="text" class="form-control" id="name" v-model="name">
                    </div>
                    <div class="form-group">
                        <label>메일</label>
                        <input type="email" class="form-control" id="email" v-model="email">
                    </div>
                    <div class="level2">
                        <label>저는 관광지를 운영합니다.</label>
                        <input type="checkbox">
                        <div class="level2-form">
                            <div class="level2-left">
                                <div class="form-group">
                                    <label>지역</label>
                                    <select v-model="city">
                                        <option disabled value="">지역</option>
                                        <option v-for="citi in citylist" v-bind:value="citi">{{ citi.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>시군구</label>
                                    <select v-model="sigungu">
                                        <option disabled value="">시군구</option>
                                        <option v-for="sigun in sigungulist" v-if="city.code == sigun.areaCode">
                                            {{ sigun.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>분류</label>
                                    <select v-model="landmarkType">
                                        <option disabled value="">분류</option>
                                        <option v-for="content in contentlist">{{ content.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="level2-right">
                                <div class="form-group">
                                    <label>URL(옵션)</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <textarea class="notice" readonly="readonly" onfocus="this.blur()">운영자일 경우, 내부 심사 진행 후
관광지 등록이 진행됩니다.</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-green"
                        v-on:click="submitForm(username, password, name, email, $event)">회원가입</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#_container',
            data: function () {
                return {
                    username: '',
                    name: '',
                    email: '',
                    password: '',
                    passwordconfirm: '',
                    errorMessage: '',
                    contentlist: [],
                    citylist: [],
                    sigungulist: [],
                    landmarkType: '',
                    city: '',
                    sigungu: ''
                }
            },
            created: function () {
                const baseURI = 'http://49.50.161.45:8080/code'
                axios.get(`${baseURI}/content-type`)
                    .then(res => {
                        this.contentlist = (res.data);
                    });
                axios.get(`${baseURI}/area`)
                    .then(res => {
                        this.citylist = (res.data);
                    });
                axios.get(`${baseURI}/sigungu`)
                    .then(res => {
                        this.sigungulist = (res.data);
                    });
            },
            methods: {
                submitForm: function (id, pw, name, email, event) {
                    if (event) {
                        axios.post('http://49.50.161.45:8080/users', {
                            username: id,
                            password: pw,
                            name: name,
                            email: email
                        })
                            .then(res => {
                                //console.log(res.data);
                                alert('회원가입이 완료되었습니다.');
                                location.href = 'loginPage.html';
                            }).catch(ex => {
                                console.log(ex);
                                alert('회원가입에 실패했습니다.');
                            });
                    }
                }
            }
        });
    </script>
</body>

</html>