<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark</title>
    <link rel="stylesheet" type="text/css" href="/css/registerPage.css">
</head>
<body>
    <div id="_container" class="container">
        <div class="logo-wrapper">
            <img class="logo" src="/img/logo2.png">
        </div>
        <div class="register-form">
            <validation-observer ref="form">
            <form @submit.prevent="submitForm">
                <div class="default">
                    <validation-provider name="ID" rules="required|minmax:3,8|id" v-slot="{ errors }">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" id="username" v-model="username">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </validation-provider>
                    <validation-provider name="PW" rules="required|password|minmax:8,16" vid="password" v-slot="{ errors }">
                        <div class="form-group">
                            <label>PW</label>
                            <input type="password" class="form-control" id="password" v-model="password">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </validation-provider>
                    <validation-provider name="PW확인" rules="required|confirmed:@password" v-slot="{ errors }">
                    <div class="form-group">
                        <label>PW 확인</label>
                        <input type="password" class="form-control" id="confirmation" v-model="confirmation">
                        <span>{{ errors[0] }}</span>
                    </div>
                    </validation-provider>
                    <validation-provider name="이름" rules="required|name" v-slot="{ errors }">
                        <div class="form-group">
                            <label>이름</label>
                            <input type="text" class="form-control" id="name" v-model="name">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </validation-provider>
                    <validation-provider name="Email" rules="required|email" v-slot="{ errors }">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" id="email" v-model="email">
                            <span>{{ errors[0] }}</span>
                        </div>
                    </validation-provider>
                </div>
                <div class="level2">
                    <label class="lv2Label">저는 관광지를 운영합니다.</label>
                    <input type="checkbox">
                    <div class="level2-form">
                        <div class="level2-left">
                            <div class="form-group">
                                <label>지역</label>
                                <select v-model="city">
                                    <option disabled value="">지역</option>
                                    <option v-for="citi in citylist" v-bind:value="citi">{{ citi.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>시군구</label>
                                <select v-model="sigungu">
                                    <option disabled value="">시군구</option>
                                    <option v-for="sigun in sigungulist" v-if="city.code == sigun.areaCode">{{ sigun.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>분류</label>
                                <select v-model="landmarkType">
                                    <option disabled value="">분류</option>
                                    <option v-for="content in contentlist">{{ content.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="level2-right">
                            <div class="form-group">
                                <label>URL(옵션)</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea class="notice" readonly="readonly" onfocus="this.blur()">운영자일 경우, 내부 심사 진행 후
관광지 등록이 진행됩니다.</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-green">회원가입</button>
            </form>
            </validation-observer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@3.3.6/dist/vee-validate.min.js"></script>
    <script>
        Vue.use(VeeValidate);
        Vue.component('ValidationProvider', VeeValidate.ValidationProvider);
        Vue.component('ValidationObserver', VeeValidate.ValidationObserver);
        VeeValidate.extend('required', {
            validate(value) {
                return {
                    required: true,
                    valid: ['', null, undefined].indexOf(value) === -1
                };
            },
                computesRequired: true,
                message: '{_field_}은/는 필수입력란 입니다.'
        });
        VeeValidate.extend('minmax', {
            validate(value, { min, max }) {
                return value.length >= min && value.length <= max
            },
            params: ['min', 'max'],
            message: '{_field_}는 {min}자 이상 {max}자 이하여야 합니다.'
        });
        VeeValidate.extend('id', {
            validate(value) {
                if (/^.*(?=.*[`~!@#$%^&*|\\\'\";:\/?]).*$/.test(value))
                    return false
                else
                    return true
            },
            message: '{_field_}에는 특수문자 허용이 불가합니다.'
        });
        VeeValidate.extend('password', {
            validate(value) {
                return /^.*(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[$@$!%*#?&]).*$/.test(value)
            },
            message: '{_field_}는 대소문자, 숫자와 특수문자($@$!%*#?&)를 포함해야합니다.',
        });
        VeeValidate.extend('confirmed', {
            params: ['target'],
            validate(value, { target }) {
                return value === target;
            },
            message: '입력하신 PW와 동일하지 않습니다.',
        });
        VeeValidate.extend('name', {
            validate(value) {
                if(/^.*(?=.*[0-9]).*$/.test(value) || /^.*(?=.*[`~!@#$%^&*|\\\'\";:\/?]).*$/.test(value))
                    return false
                else
                    return true
            },
            message: '{_field_}에는 문자만 허용됩니다.'
        });
        VeeValidate.extend('email', {
                validate(value) {
                    return /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/.test(value)
                },
                message: '유효한 이메일 형식이 아닙니다.'
            });

        new Vue({
            el: '#_container',
            data: function () {
                return {
                    username: '',
                    name:'',
                    email: '',
                    password: '',
                    confirmation: '',
                    contentlist: [],
                    citylist: [],
                    sigungulist: [],
                    landmarkType: '',
                    city: '',
                    sigungu: ''
                }
            },
            created: function () {
                const baseURI = 'http://49.50.161.45:8080/code'
                axios.get(`${baseURI}/content-type`)
                    .then(res => {
                        this.contentlist = (res.data);
                    });
                axios.get(`${baseURI}/area`)
                    .then(res => {
                        this.citylist = (res.data);
                    });
                axios.get(`${baseURI}/sigungu`)
                    .then(res => {
                        this.sigungulist = (res.data);
                    });
            },
            methods: {
                submitForm: function() {
                    this.$refs.form.validate().then(success => {
                        if(!success){
                            return;
                        }
                        axios.post('http://49.50.161.45:8080/users', {
                            username: this.username,
                            password: this.password,
                            name: this.name,
                            email: this.email
                        })
                        .then(res => {
                            console.log(res.data);
                            alert('회원가입이 완료되었습니다.');
                            //location.href = 'loginPage.html';
                        })
                    })
                }
            }
        });
    </script>
</body>
</html>