<div id="_header" class="menuBack">
    <div>
        <img src="../img/logo.png" class="logoImg">
    </div>
    <div class="buttonBar">
        <button class="menuButton" onclick="location.href='main.html'">
            <img src="../img/myTravelList.png" class="menuImg">
            내 여행 보기
        </button>
        <button class="menuButton">
            <img src="../img/landMarkSearch.png" class="menuImg">
            관광지 검색
        </button>
        <button class="menuButton">
            <img src="../img/myLandMarkManage.png" class="menuImg">
            내 관광지 관리
        </button>
        <button class="menuButton">
            <img src="../img/QnA.png" class="menuImg">
            문의 사항
        </button>
    </div>
    <div class="login">
        {{ name }} 님 안녕하세요!
        <button>
            마이페이지
        </button>
        <button>
            로그아웃
        </button>
    </div>
    
</div>
<link rel="stylesheet" type="text/css" href="../css/menuStyle.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/header.js"></script>