<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandMark</title>
    <script src="../js/includeHTML.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/sideBarStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/searchPageStyle.css">
</head>
<body>
    <div id="_header">
        <header-item v-bind:name="name" v-bind:page-num='2'></header-item>
    </div>
    <div class="contentPage">
        <div class="whereami">
            ▷ 관광지 검색
        </div>
        <div class="history">
        </div>
        <div id="_searchPage" class="contentPage1">
            {{name}}
            <div class="searchBar">
                <div class="searchBarItem">
                    <select v-model="landMarkType">
                        <option disabled value="">관광지 타입</option>
                        <option>바다</option>
                        <option>산</option>
                        <option>숙소</option>
                    </select>
                    <select v-model="city">
                        <option disabled value="">대분류</option>
                        <option>서울특별시</option>
                        <option>경기도</option>
                        <option>강원도</option>
                    </select>
                    <select v-model="country">
                        <option disabled value="">세부 분류</option>
                        <option>강북구</option>
                        <option>노원구</option>
                        <option>강원도</option>
                    </select>
                    
                    <input type="text" placeholder="검색어를 입력하세요">
                    <button>검색</button>
                </div>               
            </div>
            {{city}} {{country}}에 있는 {{landMarkType}}을 검색합니다.
        </div>       
    </div>   
    <footer include-html="footer.html"></footer>
</body>
<script>
    includeHTML();
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/componentExample.js"></script>
<script type="text/javascript" src="../js/searchPage.js"></script>
</html>