<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandMark</title>
    <script src="../js/includeHTML.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css">
</head>
<body>
    <div id="_header">
        <header-item v-bind:name="name" v-bind:page-num='2'></header-item>
    </div>
    <div class="contentPage">
        <div class="whereami">
            ▷ 관광지 검색
        </div>
        <div id="_left" class="history">
            <side-bar v-bind:items="history"></side-bar>
        </div>
        <div class="contentPage1">
            fefefegggggggggggggggggggggggggggghggjlhuiijijsisjiosvhspfvhsghvesgh
        </div>       
    </div>   
    <footer include-html="footer.html"></footer>
</body>
<script>
    includeHTML();
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/componentExample.js"></script>
</html>