<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandMark</title>
    <script src="../js/includeHTML.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/sideBarStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/searchPageStyle.css">
</head>
<body>
    <div id="_header">
        <header-item v-bind:name="name" v-bind:page-num='2'></header-item>
    </div>
    <div class="contentPage">
        <div class="whereami">
            ▷ 관광지 검색
        </div>
        <div class="sideBar">
        </div>
        <div id="_searchPage" class="contentPage1">
            <search-bar v-bind:land-mark-type="landMarkType" v-bind:contentlist="contentlist" v-bind:sigungulist="sigungulist"
            v-bind:city="city" v-bind:country="country" v-bind:val="val" v-bind:citylist="citylist"
             v-on:city="cityset" v-on:type="typeset" v-on:country="countryset" v-on:val="valset"></search-bar>
            {{city.name}}, {{country}}, {{landMarkType}}, {{val}}을 검색합니다.
        </div>       
    </div>   
    <footer include-html="footer.html"></footer>
</body>
<script>
    includeHTML();
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/searchPage.js"></script>
</html>