<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark</title>
    <link rel="stylesheet" type="text/css" href="../css/menuStyle.css">
</head>
<body>
    <script type="text/javascript" src="../js/menu.js"></script>
    <div id="_login">
        <login-item v-bind:name="name"></login-item>
    </div>
    <div id="_menu">
        <menu-item></menu-item>
        <p> {{ message }} </p>

    </div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/menu.js"></script>
<script type="text/javascript" src="../js/login.js"></script>