<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LandMark</title>
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css" />
    <link rel="stylesheet" type="text/css" href="../css/myLandmark.css" />
  </head>
  <body>
    <div id="_header">
      <header-item v-bind:name="name" v-bind:page-num="3"></header-item>
    </div>
    <div class="whereami">▷ 내 관광지 관리</div>
    <div class="landmarkcontentPage">
      <div id="_mylandmark" class="landmarkContent">
        <my-landmark
          v-bind:rv="review"
          v-bind:lm="landmark"
          v-bind:contents="pass"
          v-on:click="whichBtn"
          v-bind:id="id"
          v-on:id="idset"
          v-bind:city="city"
          v-bind:sigungu="sigungu"
          v-on:cname="cname"
          v-on:sname="sname"
          v-on:del="deleteRV"
        ></my-landmark>
      </div>
    </div>
    <div id="_footer">
      <footer-item></footer-item>
    </div>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="../js/header.js"></script>
  <script type="text/javascript" src="../js/footer.js"></script>
  <script type="text/javascript" src="../js/myLandmark.js"></script>
</html>
