<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark</title>
    <link rel="stylesheet" type="text/css" href="/css/registerPage.css">
</head>
<body>
    <div id="_container" class="container">
        <div class="logo-wrapper">
            <img class="logo" src="/img/logo2.png">
        </div>
        <div class="register-form">
            <div class="default">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" id="username" v-model="username">
                </div>
                <div class="form-group">
                    <label>PW</label>
                    <input type="password" class="form-control" id="password" v-model="password">
                </div>
                <div class="form-group">
                    <label>PW 확인</label>
                    <input type="password" class="form-control" id="password-confirm" v-model="passwordconfirm">
                </div>
                <div class="form-group">
                    <label>이름</label>
                    <input type="text" class="form-control" id="name" v-model="name">
                </div>
                <div class="form-group">
                    <label>메일</label>
                    <input type="email" class="form-control" id="email" v-model="email">
                <div>
                    <button class="btn-green-for-mypage" v-on:click="back">뒤로가기</button>
                    <button class="btn-green-for-mypage" v-on:click="submitForm(username, password, name, email)">수정하기</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../js/mypage.js"></script>
</body>
</html>