<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandMark</title>
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/myTrip.css">
</head>
<body>
    <div id="_header">
        <header-item v-bind:name="name" v-bind:userrole="userrole" v-bind:page-num='1'></header-item>
    </div>
    <div class="whereami">
        ▷ 내 여행 보기
    </div>
    <div class="contentPage">

        <div id="_mytrip">
            <div class="sideBar">
                <side-bar v-bind:items="content" v-bind:btnid="itemId" v-on:pass="showMyTrip" v-on:click="clickMenu"></side-bar>
            </div>
            <div class="contentPage1">
                <my-trip v-bind:triplist="content" v-bind:tripid="itemId"></my-trip>
            </div>
            <div class="plusbutton" v-show="isClicked">
                <button class="plusbtn" id="show-modal" @click="showModal = true">
                    여행지 수정</button>
            </div>
            <modify v-if="showModal" @close="showModal = false"></modify>
        </div>       
    </div>
    <div id="_footer">
        <footer-item></footer-item>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/footer.js"></script>
<script type="text/javascript" src="../js/myTrip.js"></script>
</html>