<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandMark</title>
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/qna.css">
    <link rel="stylesheet" type="text/css" href="../css/main_sidebar.css">
</head>
<body>
    <div id="_header">
        <header-item v-bind:name="name" v-bind:page-num='4'></header-item>
    </div>
    <div class="whereami">
        ▷ 문의사항
    </div>
    <div class="contentPage">

        <div class="sideBar">
        </div>
        <div id="qna" class="contentPage1">
            <qna-bar v-bind:type="type" v-bind:who="who" v-bind:what="what" v-bind:typelist="typelist"
            v-on:type="typeset" v-on:who="whoset" v-on:what="whatset"></qna-bar>
            {{type}} {{who}}에 있는 {{what}}을 검색합니다.            
            <qna-list v-bind:list-array="qnalist"></qna-list>
            <div class="createbutton">
                <button id="show-modal" class="createbtn" @click="showModal = true">
                작성하기</button>
                <add-qna v-bind:typelist="typelist" v-bind:title="title" :content="content" @pass="addQna"
                    v-if="showModal" @close="showModal = false" @title="titleset" @content="contentset"></add-qna>
            </div>
        </div>
    </div> 
    <div id="_footer">
        <footer-item></footer-item>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/footer.js"></script>
<script type="text/javascript" src="../js/qna.js"></script>
</html>